# dependencies
node_modules/

# next.js
.next/
out/

# production
dist/
build/

# environment variables
.env
.env.local
.env.development
.env.production
.env*.local

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# editor files
.vscode/
.idea/

# typescript
*.tsbuildinfo

# vercel
.vercel

# misc
coverage/
.cache/

# local dev files
local.properties